/* Add your CSS to this file */
body {
    font-family: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif';
    margin: 0 auto;
    font-size: 18px;
    display: grid;
    width: 100%;
}

header {
    background: white;
    font-size: 18px;
    grid-column: span 2;
}

nav {
    color: #6b7280;
    columns: 1;
}

h1 {
    float: left;
}

li {
    display: inline;
    float: right;
    margin: 20px;
}

li:hover {
    color: #5A67D8;
}

main {
    color: black;
    /*text-align: center;
    margin: 0 auto;*/
    width: 100%;
    /*padding: 15px;*/
    grid-column: span 2; /* or span 2*/
}

.overview-hero {
    display: grid;
    background-color: #E2E8F0;
}

.overview-hero-image {
    margin-right: 100px;
    margin-left: 100px;
    float: left;
}

.overview-hero-text {
    width: 520px;
    float: right;
}

.cards {
    max-width: fit-content;
    display: grid;
    grid-template-columns: 31% 33% 33% ;
    column-gap: 17px;
    
}

.card {
    border-style: groove;
    border-color: red;
    padding: 10px;
}

.testing {
    column-span: all;
    padding: 70px 0px;
}

.testing-desciption {
    width: 550px;
    float: left;
}

.cta {
    background: #2db34a;
    border-radius: 5px;
    color: #fff;
    margin-top: 50px;
    margin-right: 70px;
    padding: 20px;
    color: #fff;
    text-align: center;
    width: 150px;
    /*height: 10px; */
    float: right;
    margin-bottom: 5px;
}

.stories article img {
    width: 200px;
    border-radius: 50%;
}

article {
    display: grid;
    grid-template-columns: 25% 70%;
    columns: 2;
    padding-bottom: 50px;
}

.newsletter {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.nwsletter h3 {
    align-content: center;
}

footer {
    grid-column: span 2;
}

.container {
    margin-bottom: 30px;
    margin: 0px auto;
    max-width: 80%;
}

img {
    max-width: fit-content;
    height: 200px;
}